* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
  text-align: center
}

.timer {
  text-align:center;
  margin-top: 20px  
}

.field {
  display: flex;
  flex-direction:column;
  justify-content:center;
  gap: 20px;
}

.wrapper {
  width: 209px;
	display: flex;
	gap: 3px;
	flex-wrap: wrap;
}